@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

#main-post {
  background-image: url("../static/black_panther_main_post.png");
  background-size: cover;
  width: 80%;
  border-radius: 20px;
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.582);
}

#main-post:hover{
  background-size: 1350px;
  transition: 500ms linear; 
}

.text-post {
  color: #ffffff;
  text-align: start;
  padding: 5%;
}

.text-post > h1 {
  font-family: "Bebas Neue", sans-serif;
}

.text-post > a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Nunito", cursive;
}

.text-post > a :hover {
  color: #929292;
}

#trending-movies {
  padding: 2%;
}

.trending-text {
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  background-color: #eb1d36;
  width: 10%;
  border-radius: 10px;
  text-align: center;
}

.trending-carrousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#card-carrousel-item {
  width: 10rem;
  height: 10rem;
}

.card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(rgb(107, 114, 117), rgb(56, 54, 54));
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.582);
}
.card-title{
  color: #ffff;
}

.card-text {
  font-family: "Nunito", cursive;
  font-size: small;
  color: #ffff;
}


#btn-card-footer{
  background-color: #eb1d36;
  border: none;
  font-size: small;
  width: 100%;
}
